<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <h1>Server error occured!</h1>

    <%= msg %>

<%- include('../includes/end.ejs') %> 
    
